.paragraph {
    color: red;
    font-size: 25px;
  }
  
  .anotherParagraph {
    background-color: red;
    color: white;
    padding: 3px;
  }
  
  p {
    font-size: 18px;
  }
  
  button {
    height: 40px;
    width: 142px;
    background-color: #008080;
    color: white;
    border: 1px solid #008080;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
  }