<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	<li class="nav-item active"><a class="nav-link" [routerLink]="['/users']">Users</a></li>
	<li class="nav-item active"><a class="nav-link" [routerLink]="['directives']">directives</a></li>
	<li class="nav-item active"><a class="nav-link" [routerLink]="['directives/attribute']">attribute</a></li>
	<li class="nav-item active"><a class="nav-link" [routerLink]="['pipes']">pipes</a></li>
	<li class="nav-item active"><a class="nav-link" [routerLink]="['directives/custom-directive']">custom directive</a></li>
  
      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" >Manu1</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu2
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">link1</a>
            <a class="dropdown-item" href="#">link2</a>
          </div>
        </li> -->
    </ul>
  </div>
</nav>
